
body,html{
height: 100%;
background: #ffffff;
padding: 0;
padding-left: 10px;
padding-right: 10px;
margin: 0;
}
#table{
display: table;
width: 300px;
height: 100%;
margin: auto;
}
#cell{
display: table-cell;
vertical-align: middle;
}
#contenido{
height: 400px;
background: #fff;
text-align: center;
}

#contenido2{
height: 800px;
background: #fff;

}

#table2{
display: table;
width: 800px;
height: 100%;
margin: auto;
}

#div70{
height: 70px;
}

#btn-agregar{
border-style: dashed;
width: 220px;
height: 300px;
display: table;
}

#div-agregar{
display: table-cell;
vertical-align: middle;
}

#txt-agregar{
font-size: 20px;
}

.gi-2x{font-size: 2em;}
.gi-1.5{font-size: 2.5em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}